@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Outfit:wght@100..900&family=Sarala:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply [scrollbar-color:_#cbd5e1_transparent];

    }
}

@layer components {
    .sidebar-group {
        @apply flex w-full flex-col gap-y-2;
    }

    .sidebar-group-title {
        @apply overflow-hidden text-ellipsis text-sm font-medium text-slate-600;
    }

    .sidebar-item {
        @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-50;
        
        &.active {
            @apply bg-blue-500 text-slate-50;
        }
    }

    .title {
        @apply text-3xl font-semibold text-slate-900 transition-colors;
    }

    .btn-ghost {
        @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500;
    }

    .link {
        @apply text-base font-medium text-slate-900 transition-colors hover:underline;
    }

    .input {
        @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80;
    }

    .card {
        @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4 transition-colors;
    }

    .card-header {
        @apply flex items-center gap-x-2;
    }

    .card-title {
        @apply font-medium text-slate-900 transition-colors;
    }

    .card-body {
        @apply flex flex-col gap-y-2 rounded-lg p-4;
    }

    .table {
        @apply h-full w-full text-slate-900;
    }

    .table-header {
        @apply sticky top-0 bg-slate-200 transition-[background];
    }

    .table-row {
        @apply border-b border-slate-300 transition-colors last:border-none;
    }

    .table-head {
        @apply h-12 px-4 text-start;
    }

    .table-cell {
        @apply w-fit whitespace-nowrap p-4 font-medium;
    }
}

body{
    font-family: "Outfit", sans-serif;
}

.hide-arrow[type="number"]::-webkit-inner-spin-button,
.hide-arrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
.hide-arrow[type="number"] {
  -moz-appearance: textfield;
}


.recharts-default-tooltip {
    @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors;
}

.recharts-tooltip-label {
    @apply text-base font-medium text-slate-900;
}

.recharts-tooltip-item {
    @apply text-base font-medium !text-blue-500;
}

@keyframes shine {
    0% {
      transform: translate(-150%, 150%) rotate(-45deg);
    }
    100% {
      transform: translate(150%, -150%) rotate(-45deg);
    }
  }
  
  .group-hover\:animate-shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      45deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: shine 2s ease-in-out infinite;
    pointer-events: none;
  }
  

  